


.container {
    margin-top: 50px;
    margin-left: 7px;
  }
  
  .classes-events {
    display: flex;
    align-items: center;
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: -50px;
  }
  
  .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text {
    flex: 1;
  }
  
  .module-info {
    display: flex;
    justify-content: space-around; /* Change to flex-start */
    font-size: small;
    font-weight: bold;
    margin-left: -293px;
  }
  